<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<!-->
<html class="not-ie" lang="en">
    <head>
        <meta charset="utf-8">
        <title>火炕头</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="火炕头">
        <meta name="author" content="510655387@qq.com">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <link rel="shortcut icon" href="/huokangtou-server/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="/huokangtou-server/css/bootstrap.v2.css">
        <link rel="stylesheet" type="text/css" href="/huokangtou-server/css/bootstrap-responsive.v2.css">
        <link rel="stylesheet" type="text/css" href="/huokangtou-server/css/jquery-ui-1.8.21.custom.css">
        <link rel="stylesheet" type="text/css" href="/huokangtou-server/css/jquery-ui-timepicker-addon.css">
        <link rel="stylesheet" type="text/css" href="/huokangtou-server/css/jquery-ui.css">
        <script type="text/javascript" src="/huokangtou-server/js/bootstrap.v2.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery.validate.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery.validate.messages.zh-cn.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery-ui-sliderAccess.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery-ui-timepicker-zh-CN.js"></script>
        <script type="text/javascript" src="/huokangtou-server/js/jquery.ui.datepicker-zh-CN.js"></script>
    </head>
    <body>