<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainno.huokangtou-server.mapper.ClusterNodeDetailMapper" >
    <resultMap id="BaseResultMap" type="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="cluster" property="cluster" jdbcType="VARCHAR" />
        <result column="node" property="node" jdbcType="VARCHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="port" property="port" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, cluster, node, ip, port, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from cluster_node_detail
        where
            id = #{id,jdbcType=INTEGER}
    </select>
     <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        select 
        <include refid="Base_Column_List" />
        from cluster_node_detail
        where 1=1
        <if test="cluster != null" >
            and cluster = #{cluster,jdbcType=VARCHAR}
        </if>
        <if test="node != null" >
            and node = #{node,jdbcType=VARCHAR}
        </if>
        <if test="ip != null" >
            and ip = #{ip,jdbcType=VARCHAR}
        </if>
        <if test="port != null" >
            and port = #{port,jdbcType=INTEGER}
        </if>
        <if test="startTime != null" >
            and create_time &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null" >
            and create_time &lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>
    <select id="selectAllSelective" resultMap="BaseResultMap" parameterType="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        select 
        <include refid="Base_Column_List" />
        from cluster_node_detail
        where 1=1
        <if test="cluster != null" >
            and cluster = #{cluster,jdbcType=VARCHAR}
        </if>
        <if test="node != null" >
            and node = #{node,jdbcType=VARCHAR}
        </if>
        <if test="ip != null" >
            and ip = #{ip,jdbcType=VARCHAR}
        </if>
        <if test="port != null" >
            and port = #{port,jdbcType=INTEGER}
        </if>
        <if test="startTime != null" >
            and create_time &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null" >
            and create_time &lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from cluster_node_detail
        where
            id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        insert into cluster_node_detail 
        (id, cluster, node, ip, port, create_time)
        values
        (
            #{id,jdbcType=INTEGER},
            #{cluster,jdbcType=VARCHAR},
            #{node,jdbcType=VARCHAR}, 
            #{ip,jdbcType=VARCHAR},
            #{port,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        insert into cluster_node_detail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="cluster != null" >
                cluster,
            </if>
            <if test="node != null" >
                node,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="port != null" >
                port,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cluster != null" >
                #{cluster,jdbcType=VARCHAR},
            </if>
            <if test="node != null" >
                #{node,jdbcType=VARCHAR},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null" >
                #{port,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        update cluster_node_detail
        <set>
            <if test="cluster != null" >
                cluster = #{cluster,jdbcType=VARCHAR},
            </if>
            <if test="node != null" >
                node = #{node,jdbcType=VARCHAR},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null" >
                port = #{port,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
            id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.asiainno.huokangtou-server.model.ClusterNodeDetail" >
        update cluster_node_detail
        set 
            cluster = #{cluster,jdbcType=VARCHAR},
            node = #{node,jdbcType=VARCHAR},
            ip = #{ip,jdbcType=VARCHAR},
            port = #{port,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where
            id = #{id,jdbcType=INTEGER}
    </update>
</mapper>